<% content_for :title, "Editing post" %>

<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Mostrar este livro", @post %> |
  <%= link_to "Voltar para home", posts_path %>
</div>
